<div class="card">
    <div class="card-header">
        {{gem.name}}
    </div>
    <div class="card-body">
        {{gem.price | currency}}
        <img src="{{gem.fullImagePath}}" width="100%" alt="gem image" />
    </div>
    <div class="card-footer">
        <p>Stock: {{gem.inventory}}</p>
    </div>
    <app-tabs [gem]="gem"></app-tabs>
    <button *ngIf="gem.inventory > 0" class="btn btn-default" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
</div>
